### Pandas Apply Lambda

Always remember the Zen of Python!!!

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/input/IMDB-Movie-Data.csv")

In [3]:
df.head(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
9,10,Passengers,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [5]:
df.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

## Challenge 1. Using a single argument

In [6]:
def bins(votes):
    if votes >= 0 and votes <= 999:
        return "cat_1"
    elif votes >= 1000 and votes <= 9999:
        return "cat_2"
    elif votes >= 10000 and votes <= 99999:
        return "cat_3"
    elif votes >= 100000 and votes <= 999999:
        return "cat_4"
    elif votes >= 1000000:
        return "cat_5"
        
bins(1000)

'cat_2'

In [7]:
df["Bin"] = df.apply(lambda x: bins(x["Votes"]), axis = 1)

In [8]:
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Bin
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,cat_4
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,cat_4
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,cat_4
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,cat_3
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,cat_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0,cat_3
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0,cat_3
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0,cat_3
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0,cat_2
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0,cat_3

## Challenge 2. Using 2 arguments

In [9]:
def revenue_minute(revenue, minute):
    return revenue / minute

In [10]:
df["Revenue per Minute"] = df.apply(lambda x: revenue_minute(x["Revenue (Millions)"], x["Runtime (Minutes)"]), axis = 1)

In [11]:
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Bin,Revenue per Minute
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,cat_4,2.753140
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,cat_4,1.019839
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,cat_4,1.180513
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,cat_3,2.502963
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,cat_4,2.642439
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0,cat_3,NaN
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0,cat_3,0.186596
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0,cat_3,0.591939
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0,cat_2,NaN
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0,cat_3,0.225747

## Challenge 3. A bit more complicated

In [12]:
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Bin,Revenue per Minute
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,cat_4,2.753140
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,cat_4,1.019839
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,cat_4,1.180513
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,cat_3,2.502963
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,cat_4,2.642439
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0,cat_3,NaN
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0,cat_3,0.186596
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0,cat_3,0.591939
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0,cat_2,NaN
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0,cat_3,0.225747

In [13]:
def new_rating(genre, rating):
    if "thriller" in genre.lower():
        rating = rating + 1
    elif "comedy" in genre.lower():
        rating = rating -1
    return rating

In [14]:
df["New Rating"] = df.apply(lambda x: new_rating(x["Genre"], x["Rating"]), axis = 1)

In [15]:
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Bin,Revenue per Minute,New Rating
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,cat_4,2.753140,8.1
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,cat_4,1.019839,7.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,cat_4,1.180513,8.3
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,cat_3,2.502963,6.2
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,cat_4,2.642439,6.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0,cat_3,NaN,6.2
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0,cat_3,0.186596,5.5
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0,cat_3,0.591939,6.2
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0,cat_2,NaN,4.6
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0,cat_3,0.225747,4.3

## Challenge 4. A bit too weird...

In [16]:
def prime(movie_title, votes):
    ascii_movie = []
    def criba_eratostenes(n): #Definimos una función para determinar si el número es o no primo siguiendo el método de la criba de eratóstenes.
        primos = []
        no_primos = []
        for i in range(2, n + 1):
            if i not in no_primos:
                primos.append(i)
                for j in range(i * i, n + 1, i):
                    no_primos.append(j)
        if n in primos:
            return True
        else:
            return False
    for i in movie_title:
        ascii_movie.append(ord(i))
    number = int((sum(ascii_movie)) / votes)
    if criba_eratostenes(number) == True:
        return True
    else:
        return False
    
    
prime("Hola caracola", 90)

True

In [24]:
def criba_eratostenes(n): #Definimos una función para determinar si el número es o no primo siguiendo el método de la criba de eratóstenes.
    primos = []
    no_primos = []
    for i in range(2, n + 1):
        if i not in no_primos:
            primos.append(i)

            for j in range(i * i, n + 1, i):
                no_primos.append(j)
    if n in primos:
        return True
    else:
        return False
            
criba_eratostenes(23)

#Dejo la función sola para comprobar que funciona (es muy difícil que coincida en el dataset, aunque da True en el 45, por ejemplo.)

True

In [18]:
df["Is Prime?"] = df.apply(lambda x: prime(x["Title"], x["Votes"]), axis = 1)

In [25]:
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Bin,Revenue per Minute,New Rating,Is Prime?
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,cat_4,2.753140,8.1,False
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,cat_4,1.019839,7.0,False
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,cat_4,1.180513,8.3,False
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,cat_3,2.502963,6.2,False
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,cat_4,2.642439,6.2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0,cat_3,NaN,6.2,False
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0,cat_3,0.186596,5.5,False
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0,cat_3,0.591939,6.2,False
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0,cat_2,NaN,4.6,False
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0,cat_3,0.225747,4.3,False

## Challege 5. And finally some fantasy...

In [ ]:
Feel free to propose your own ranking based in aggregations of at least 3 columns of the dataset.

In [29]:
groupby_object = df.groupby(["Rating"])

In [33]:
groupby_object.sum().sort_values(by= "Director", ascending=False)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Votes,Revenue (Millions),Metascore,Bin,Revenue per Minute,New Rating,Is Prime?
Rating,,,,,,,,,,,,,,,
6.1,16758,The Great WallThe Bad BatchJack Reacher: Never...,"Action,Adventure,FantasyRomance,Sci-FiAction,A...",European mercenaries searching for black powde...,Yimou ZhangAna Lily AmirpourEdward ZwickBrad P...,"Matt Damon, Tian Jing, Willem Dafoe, Andy LauK...",62422,3304,2528395,1408.73,1317.0,cat_3cat_1cat_3cat_4cat_2cat_3cat_4cat_1cat_3c...,12.434090,183.1,1
4.5,772,The Assignment,"Action,Crime,Thriller",After waking up and discovering that he has un...,Walter Hill,"Sigourney Weaver, Michelle Rodriguez, Tony Sha...",2016,95,2043,0.00,34.0,cat_2,0.000000,5.5,0
6.5,23350,TrollsThe Girl on the TrainNow You See Me 2Tom...,"Animation,Adventure,ComedyCrime,Drama,MysteryA...","After the Bergens invade Troll Village, Poppy,...",Walt DohrnTate TaylorJon M. ChuBrad BirdGore V...,"Anna Kendrick, Justin Timberlake,Zooey Deschan...",80525,4409,4084884,2281.06,1921.0,cat_3cat_4cat_4cat_4cat_3cat_4cat_3cat_3cat_4c...,20.779299,253.0,0
4.4,937,The Human Centipede (First Sequence),Horror,A mad scientist kidnaps and mutilates a trio o...,Tom Six,"Dieter Laser, Ashley C. Williams, Ashlynn Yenn...",2009,92,60655,0.18,33.0,cat_3,0.001957,4.4,0
7.8,18410,Hidden FiguresAvatarThe Hateful EightThe Big S...,"Biography,Drama,HistoryAction,Adventure,Fantas...",The story of a team of female African-American...,Theodore MelfiJames CameronQuentin TarantinoAd...,"Taraji P. Henson, Octavia Spencer, Janelle Mon...",80458,4946,12695506,4786.96,2837.0,cat_3cat_4cat_4cat_4cat_4cat_4cat_4cat_4cat_4c...,39.289341,305.0,0
7.4,13822,Me Before YouPatriots DayThe AccountantAvenger...,"Drama,RomanceDrama,History,ThrillerAction,Crim...",A girl in a small town forms an unlikely bond ...,Thea SharrockPeter BergGavin O'ConnorJoss Whed...,"Emilia Clarke, Sam Claflin, Janet McTeer, Char...",66445,3932,6059972,3209.23,1948.0,cat_4cat_3cat_4cat_4cat_4cat_4cat_3cat_3cat_4c...,26.820653,242.2,1
5.4,7182,The ComedianBlackhatGrown Ups 2TuskThe Green I...,"ComedyCrime,Drama,MysteryComedyComedy,Drama,Ho...",A look at the life of an aging insult comic na...,Taylor HackfordMichael MannDennis DuganKevin S...,"Robert De Niro, Leslie Mann, Danny DeVito, Edi...",24173,1227,542441,449.91,488.0,cat_2cat_3cat_4cat_3cat_3cat_3cat_4cat_3cat_2c...,4.587048,63.8,0
4.8,2623,RuptureThe Ridiculous 6Chalk It UpTexas Chains...,"Horror,Sci-Fi,ThrillerComedy,WesternComedyHorr...",A single mom tries to break free from a myster...,Steven ShainbergFrank CoraciHisonni JohnsonJoh...,"Noomi Rapace, Michael Chiklis, Kerry Bishé,Pet...",8060,403,71090,34.33,115.0,cat_2cat_3cat_1cat_3,0.373152,19.2,0
2.7,915,Don't Fuck in the WoodsDragonball Evolution,"HorrorAction,Adventure,Fantasy",A group of friends are going on a camping trip...,Shawn BurkettJames Wong,"Brittany Blanton, Ayse Howard, Roman Jossart,N...",4025,158,60008,9.35,45.0,cat_1cat_3,0.110000,5.4,0
3.7,320,The Last FaceSatanic,DramaHorror,A director (Charlize Theron) of an internation...,Sean PennJeffrey G. Hunt,"Charlize Theron, Javier Bardem, Adèle Exarchop...",4032,215,3371,0.00,16.0,cat_1cat_2,0.000000,7.4,0
6.4,18538,MindhornColossalLive by NightMamma Mia!The Sha...,"ComedyAction,Comedy,DramaCrime,DramaComedy,Fam...",A has-been actor best known for playing the ti...,Sean FoleyNacho VigalondoBen AffleckPhyllida L...,"Essie Davis, Andrea Riseborough, Julian Barrat...",70435,3638,4208763,2223.42,1989.0,cat_2cat_2cat_3cat_4cat_3cat_3cat_4cat_3cat_4c...,22.465497,219.0,1
7.6,13353,Doctor StrangeWatchmenSuperbadSicarioDawn of t...,"Action,Adventure,FantasyAction,Drama,MysteryCo...",While on a journey of physical and spiritual h...,Scott DerricksonZack SnyderGreg MottolaDenis V...,"Benedict Cumberbatch, Chiwetel Ejiofor, Rachel...",54303,3360,7177776,2713.57,1970.0,cat_4cat_4cat_4cat_4cat_4cat_4cat_4cat_4cat_4c...,21.842981,208.2,0
4.1,64,Fifty Shades of Grey,"Drama,Romance,Thriller",Literature student Anastasia Steele's life cha...,Sam Taylor-Johnson,"Dakota Johnson, Jamie Dornan, Jennifer Ehle,El...",2015,125,244474,166.15,46.0,cat_4,1.329200,5.1,0
7.7,11451,MoanaKingsman: The Secret ServiceHell or High ...,"Animation,Adventure,ComedyAction,Adventure,Com...","In Ancient Polynesia, when a terrible curse in...",Ron ClementsMatthew VaughnDavid MackenzieAlex ...,"Auli'i Cravalho, Dwayne Johnson, Rachel House,...",54301,3044,7418438,2258.02,1800.0,cat_4cat_4cat_4cat_4cat_4cat_4cat_4cat_1cat_4c...,19.661901,198.9,1
5.3,6224,Independence Day: ResurgenceGhostbustersSpring...,"Action,Adventure,Sci-FiAction,Comedy,FantasyDr...",Two decades after the first Independence Day i...,Roland EmmerichPaul FeigHarmony KorineLana Wac...,"Liam Hemsworth, Jeff Goldblum, Bill Pullman,Ma...",24176,1271,739995,444.30,423.0,cat_4cat_4cat_4cat_4cat_2cat_3cat_3cat_3cat_2c...,3.840669,62.6,0
4.6,3738,The Boy Next DoorOnly for One NightMax SteelWo...,"Mystery,ThrillerThrillerAction,Adventure,Famil...","A woman, separated from her unfaithful husband...",Rob CohenChris StokesStewart HendlerJohn R. Le...,"Jennifer Lopez, Ryan Guzman, Kristin Chenoweth...",10079,433,48327,46.04,175.0,cat_3cat_1cat_3cat_1cat_2,0.505484,27.0,2
7.0,20575,PrometheusPassengersTheir FinestJurassic World...,"Adventure,Mystery,Sci-FiAdventure,Drama,Romanc...","Following clues to the origin of mankind, a te...",Ridley ScottMorten TyldumLone ScherfigColin Tr...,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",92560,5358,10224319,4039.93,2769.0,cat_4cat_4cat_2cat_4cat_4cat_4cat_4cat_4cat_2c...,34.846896,315.0,0
8.4,2073,Django Unchained3 IdiotsWALL·EKoe no katachi,"Drama,WesternComedy,DramaAnimation,Adventure,F...","With the help of a German bounty hunter , a fr...",Quentin TarantinoRajkumar HiraniAndrew Stanton...,"Jamie Foxx, Christoph Waltz, Leonardo DiCaprio...",8045,562,2057222,393.13,228.0,cat_5cat_4cat_4cat_2,3.308795,32.6,0
4.7,2829,Dead AwakeAliens vs Predator - RequiemZoolande...,"Horror,ThrillerAction,Horror,Sci-FiComedyActio...",A young woman must save herself and her friend...,Phillip GuzmanColin StrauseBen StillerAndrey K...,"Jocelin Donahue, Jesse Bradford, Jesse Borrego...",12086,605,161498,93.70,244.0,cat_1cat_3cat_3cat_2cat_2cat_2,0.900835,30.2,0
5.6,9503,Resident Evil: The Final ChapterFallenMother's...,"Action,Horror,Sci-FiAdventure,Drama,FantasyCom...",Alice returns to where the nightmare began: Th...,Paul W.S. AndersonScott HicksGarry MarshallApr...,"Milla Jovovich, Iain Glen, Ali Larter, Shawn R...",34227,1693,929994,478.06,662.0,cat_3cat_2cat_3cat_2cat_4cat_3cat_1cat_3cat_3c...,4.560073,90.2,0
6.7,24065,Jason BourneGoldHounds of LovePirates of the C...,"Action,ThrillerAdventure,Drama,ThrillerCrime,D...",The CIA's most dangerous former operative is d...,Paul GreengrassStephen GaghanBen YoungRob Mars...,"Matt Damon, Tommy Lee Jones, Alicia Vikander,V...",96618,5476,7161951,3768.35,2658.0,cat_4cat_3cat_2cat_4cat_4cat_4cat_4cat_3cat_3c...,31.924417,315.6,0
5.7,10359,Transformers: Age of ExtinctionAllegiantMonste...,"Action,Adventure,Sci-FiAction,Adventure,Myster...",Autobots must escape sight from a bounty hunte...,Michael BayRobert SchwentkeChris WedgeNicholas...,"Mark Wahlberg, Nicola Peltz, Jack Reynor, Stan...",42303,2292,934610,673.37,830.0,cat_4cat_3cat_2cat_3cat_3cat_3cat_3cat_2cat_2c...,5.675561,117.7,0
8.2,3781,Hacksaw RidgeThe Wolf of Wall StreetRoomWarrio...,"Biography,Drama,HistoryBiography,Comedy,CrimeD...","WWII American Army Medic Desmond T. Doss, who ...",Mel GibsonMartin ScorseseLenny AbrahamsonGavin...,"Andrew Garfield, Sam Worthington, Luke Bracey,...",20117,1319,3508761,792.08,706.0,cat_4cat_4cat_4cat_4cat_4cat_4cat_4cat_3cat_4c...,6.979427,79.0,0
7.3,20163,SplitMiss SloaneSilencePirates of the Caribbea...,"Horror,ThrillerDrama,ThrillerAdventure,Drama,H...",Three girls are kidnapped by a man with a diag...,M. Night ShyamalanJohn MaddenMartin ScorseseGo...,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",84526,4947,7119214,2933.50,2614.0,cat_4cat_3cat_3cat_4cat_4cat_3cat_4cat_4cat_3c...,23.818135,310.6,1
4.2,1421,The Last AirbenderExposed,"Action,Adventure,FamilyCrime,Drama,Mystery","Follows the adventures of Aang, a young succes...",M. Night ShyamalanGee Malik Linton,"Noah Ringer, Nicola Peltz, Jackson Rathbone,De...",4026,205,133538,0.00,43.0,cat_4cat_2,0.000000,8.4,0
5.1,3038,Jennifer's BodySex TapeThe Rise of the KraysBl...,"Comedy,HorrorComedy,RomanceCrime,DramaHorror,T...",A newly possessed high school cheerleader turn...,Karyn KusamaJake KasdanZackary AdlerAdam Winga...,"Megan Fox, Amanda Seyfried, Adam Brody, Johnny...",10070,497,225091,82.80,255.0,cat_3cat_3cat_2cat_3cat_3,0.868980,25.5,0
5.9,11381,Assassin's CreedThe PromiseRealiveThe HostPerc...,"Action,Adventure,DramaDrama,HistorySci-FiActio...",When Callum Lynch explores the memories of his...,Justin KurzelTerry GeorgeMateo GilAndrew Nicco...,"Michael Fassbender, Marion Cotillard, Jeremy I...",38262,2072,1475960,805.34,806.0,cat_4cat_4cat_2cat_3cat_4cat_1cat_4cat_4cat_4c...,7.540647,109.1,0
3.2,648,Tall Men,"Fantasy,Horror,Thriller",A challenged man is stalked by tall phantoms i...,Jonathan Holbrook,"Dan Crisafulli, Kay Whitney, Richard Garcia, P...",2016,133,173,0.00,57.0,cat_1,0.000000,4.2,0
6.3,23829,Why Him?Sausage PartyLowridersPersonal Shopper...,"ComedyAnimation,Adventure,ComedyDramaDrama,Mys...",A holiday gathering threatens to go off the ra...,John HamburgGreg TiernanRicardo de MontreuilOl...,"Zoey Deutch, James Franco, Tangie Ambrose,Cedr...",88639,4747,3501271,2105.08,2017.0,cat_3cat_4cat_1cat_3cat_4cat_2cat_3cat_4cat_2c...,18.082360,274.2,1
4.0,617,2307: Winter's Dream,Sci-Fi,"In 2307, a future soldier is sent on a mission...",Joey Curtis,"Paul Sidhu, Branden Coles, Arielle Holmes, Kel...",2016,101,277,20.76,53.0,cat_1,0.205545,4.0,1
1.9,830,Disaster Movie,Comedy,"Over the course of one evening, an unsuspectin...",Jason Friedberg,"Carmen Electra, Vanessa Lachey,Nicole Parker, ...",2008,87,77207,14.17,15.0,cat_3,0.162874,0.9,0
8.1,5975,Guardians of the GalaxyLionStar Wars: Episode ...,"Action,Adventure,Sci-FiBiography,DramaAction,A...",A group of intergalactic criminals are forced ...,James GunnGarth DavisJ.J. AbramsGeorge MillerB...,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",52321,3290,11436176,4211.66,1964.0,cat_4cat_4cat_4cat_4cat_4cat_5cat_4cat_4cat_4c...,33.055304,213.6,0
7.1,25226,The Lost City of ZX-Men: Apocalypse5- 25- 77St...,"Action,Adventure,BiographyAction,Adventure,Sci...","A true-life drama, centering on British explor...",James GrayBryan SingerPatrick Read JohnsonJust...,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",104636,6076,8214814,3379.01,2894.0,cat_2cat_4cat_1cat_4cat_3cat_4cat_4cat_4cat_3c...,27.139367,363.2,0
6.0,11882,Mike and Dave Need Wedding DatesInto the Woods...,"Adventure,Comedy,RomanceAdventure,Comedy,Drama...",Two hard-partying brothers place an online ad ...,Jake SzymanskiRob MarshallFabio GuaglioneGaspa...,"Zac Efron, Adam Devine, Anna Kendrick, Aubrey ...",52370,2798,2177954,1653.34,1055.0,cat_3cat_4cat_2cat_3cat_3cat_3cat_4cat_4cat_3c...,14.264225,151.0,0
5.0,2640,Whisky GaloreThe HappeningLída BaarováAmateur ...,"Comedy,RomanceSci-Fi,ThrillerBiography,Drama,H...",Scottish islanders try to plunder cases of whi...,Gillies MacKinnonM. Night ShyamalanFilip RencL...,"Tim Pigott-Smith, Naomi Battrick, Ellie Kendri...",8056,387,173581,64.51,179.0,cat_1cat_4cat_1cat_2,0.708901,19.0,1
7.9,8465,Rogue OneManchester by the SeaCaptain America:...,"Action,Adventure,Sci-FiDramaAction,Adventure,S...",The Rebel Alliance makes a risky move to steal...,Gareth EdwardsKenneth LonerganAnthony RussoMat...,"Felicity Jones, Diego Luna, Alan Tudyk, Donnie...",46289,2863,6604675,2621.51,1653.0,cat_4cat_4cat_4cat_4cat_2cat_4cat_4cat_3cat_4c...,19.417432,179.7,0
3.5,1860,The IntentWrecker,"Crime,DramaAction,Horror,Thriller",Gunz (Dylan Duffus) is thrust into a world of ...,Femi OyeniranMicheal Bafaro,"Dylan Duffus, Scorcher,Shone Romulus, Jade Ash...",4031,187,1412,0.00,96.0,cat_1cat_2,0.000000,8.0,0
4.3,2816,Movie 43Fantastic FourYoga HosersSex and the C...,"Comedy,RomanceAction,Adventure,Sci-FiComedy,Fa...",A series of interconnected short films follows...,Elizabeth BanksJosh TrankKevin SmithMichael Pa...,"Emma Stone, Stephen Merchant, Richard Gere, Li...",8054,428,274966,160.27,95.0,cat_3cat_4cat_2cat_3,1.307981,14.2,0
4.9,4549,Bonjour AnneKnock KnockKickboxer: VengeanceMeg...,"Comedy,Drama,RomanceDrama,Horror,ThrillerActio...",Anne is at a crossroads in her life. Long marr...,Eleanor CoppolaEli RothJohn StockwellMichael G...,"Diane Lane, Alec Baldwin, Arnaud Viard, Linda ...",14092,707,616607,774.23,370.0,cat_1cat_3cat_2cat_2cat_4cat_4cat_4,6.898410,35.3,0
6.8,20442,Paris pieds nusThe Autopsy of Jane DoeCollater...,"ComedyHorror,Mystery,ThrillerDrama,RomanceActi...",Fiona visits Paris for the first time to assis...,Dominique AbelAndré ØvredalDavid FrankelSam Me...,"Fiona Gordon, Dominique Abel,Emmanuelle Riva, ...",74474,3990,4670467,1890.94,2083.0,cat_1cat_3cat_3cat_4cat_4cat_4cat_3cat_2cat_4c...,16.550461,250.6,1
8.0,5542,ArrivalDeadpoolThe MartianThe RevenantStar Tre...,"Drama,Mystery,Sci-FiAction,Adventure,ComedyAdv...",When twelve mysterious spacecraft appear aroun...,Denis VilleneuveTim MillerRidley ScottAlejandr...,"Amy Adams, Jeremy Renner, Forest Whitaker,Mich...",38217,2331,8429947,2540.56,1501.0,cat_4cat_4cat_4cat_4cat_4cat_4cat_4cat_4cat_3c...,20.647620,155.0,0
7.5,16219,Fantastic Beasts and Where to Find ThemNocturn...,"Adventure,Family,FantasyDrama,ThrillerDramaBio...",The adventures of writer Newt Scamander in New...,David YatesTom FordBarry JenkinsClint Eastwood...,"Eddie Redmayne, Katherine Waterston, Alison Su...",70438,4256,6162150,2925.55,2408.0,cat_4cat_4cat_4cat_4cat_1cat_3cat_4cat_4cat_4c...,24.775876,260.5,1
6.2,23796,Suicide SquadBad MomsThe Neon DemonDiary of a ...,"Action,Adventure,FantasyComedyHorror,ThrillerC...",A secret government agency recruits some of th...,David AyerJon LucasNicolas Winding RefnThor Fr...,"Will Smith, Jared Leto, Margot Robbie, Viola D...",74480,4033,3926113,2715.28,1852.0,cat_4cat_3cat_3cat_3cat_3cat_3cat_3cat_3cat_4c...,23.984000,224.4,0
8.3,2236,La La LandBahubali: The BeginningInglourious B...,"Comedy,Drama,MusicAction,Adventure,DramaAdvent...",A jazz pianist falls for an aspiring actress i...,Damien ChazelleS.S. RajamouliQuentin Tarantino...,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",14087,850,2795136,986.65,489.0,cat_4cat_3cat_4cat_4cat_1cat_4cat_4,9.094861,55.1,0
3.9,1166,The Disappointments RoomThe Black RoomBirth of...,"Drama,Horror,ThrillerHorrorAction,Biography,Drama",A mother and her young son release unimaginabl...,D.J. CarusoRolfe KanefskyGeorge Nolfi,"Kate Beckinsale, Mel Raido, Duncan Joiner, Luc...",6048,279,5687,95.46,163.0,cat_2cat_1cat_1,0.931751,12.7,2
8.8,199,InceptionDangal,"Action,Adventure,Sci-FiAction,Biography,Drama","A thief, who steals corporate secrets through ...",Christopher NolanNitesh Tiwari,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",4026,309,1632594,303.72,74.0,cat_5cat_3,2.046079,17.6,0
8.5,1893,The PrestigeThe DepartedThe Dark Knight RisesW...,"Drama,Mystery,Sci-FiCrime,Drama,ThrillerAction...",Two stage magicians engage in competitive one-...,Christopher NolanMartin ScorseseChristopher No...,"Christian Bale, Hugh Jackman, Scarlett Johanss...",12051,854,3931287,659.15,448.0,cat_4cat_4cat_5cat_4cat_4cat_4,4.229375,54.0,0
8.6,384,InterstellarKimi no na waThe Intouchables,"Adventure,Drama,Sci-FiAnimation,Drama,FantasyB...",A team of explorers travel through a wormhole ...,Christopher NolanMakoto ShinkaiOlivier Nakache,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",6041,387,1639822,205.85,210.0,cat_5cat_3cat_4,1.274196,24.8,0
9.0,55,The Dark Knight,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,1791916,533.32,82.0,cat_5,3.508684,9.0,0
7.2,20603,SingThe FounderJohn WickDon't BreatheDeepwater...,"Animation,Comedy,FamilyBiography,Drama,History...","In a city of humanoid animals, a hustling thea...",Christophe LourdeletJohn Lee HancockChad Stahe...,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",84526,4806,7490682,3499.91,2603.0,cat_3cat_3cat_4cat_4cat_3cat_4cat_4cat_4cat_3c...,30.197025,306.4,0
6.6,25421,The Secret Life of PetsNerveCrimson PeakThe Ch...,"Animation,Adventure,ComedyAdventure,Crime,Myst...",The quiet life of a terrier named Max is upend...,Chris RenaudHenry JoostGuillermo del ToroRoss ...,"Louis C.K., Eric Stonestreet, Kevin Hart, Lake...",84498,4620,6391721,2856.55,2067.0,cat_4cat_3cat_3cat_3cat_4cat_3cat_4cat_3cat_4c...,25.737712,269.2,1
5.2,5926,TwilightBeyond the GatesA Kind of MurderThe 5t...,"Drama,Fantasy,RomanceAdventure,HorrorCrime,Dra...",A teenage girl risks everything when she falls...,Catherine HardwickeJackson StewartAndy Goddard...,"Kristen Stewart, Robert Pattinson, Billy Burke...",22134,1176,974947,505.78,427.0,cat_4cat_2cat_2cat_3cat_3cat_4cat_4cat_2cat_3c...,4.399000,61.2,0
6.9,19301,The Magnificent SevenCaptain America: The Firs...,"Action,Adventure,WesternAction,Adventure,Sci-F...",Seven gunmen in the old west gradually come to...,Antoine FuquaJoe JohnstonDavid Robert Mitchell...,"Denzel Washington, Chris Pratt, Ethan Hawke,Vi...",62397,3417,3866009,1432.78,1634.0,cat_4cat_4cat_4cat_3cat_4cat_1cat_3cat_4cat_1c...,12.987459,209.9,3
5.8,11829,Underworld: Blood WarsThe VoidAll We HadOffice...,"Action,Adventure,FantasyHorror,Mystery,Sci-FiD...","Vampire death dealer, Selene (Kate Beckinsale)...",Anna FoersterJeremy GillespieKatie HolmesJosh ...,"Kate Beckinsale, Theo James, Tobias Menzies, L...",52353,2754,2067400,1215.23,1179.0,cat_3cat_2cat_2cat_3cat_2cat_3cat_3cat_2cat_4c...,10.512693,148.8,0
5.5,8506,Gods of EgyptThe House BunnyVincent N RoxxySev...,"Action,Adventure,FantasyComedy,RomanceCrime,Dr...",Mortal hero Bek teams with the god Horus in an...,Alex ProyasFred WolfGary Michael SchultzSergei...,"Brenton Thwaites, Nikolaj Coster-Waldau, Gerar...",28163,1476,1074968,875.18,570.0,cat_3cat_3cat_1cat_3cat_4cat_3cat_2cat_3cat_2c...,7.710255,73.0,1