### Pandas Apply Lambda

Always remember the Zen of Python!!!

### Challenge 1

In [1]:
import pandas as pd
import numpy as np
import math
import hashlib

In [2]:
#Read the data from the csv and store it in the dataframe.
df = pd.read_csv("../data/input/IMDB-Movie-Data.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [4]:
df.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

In [5]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [6]:
# Function definition:
def bin_votes(votes):
    if (votes >= 0) and (votes <= 999):
        tag = 'cat_1'
    elif (votes >= 1000) and (votes <= 9999):
        tag = 'cat_2'
    elif (votes >= 10000) and (votes <= 99999):
        tag = 'cat_3'
    elif (votes >= 100000) and (votes <= 999999):
        tag = 'cat_4'
    elif (votes >= 1000000) and (votes <= 9999999):
        tag = 'cat_5'
        
    return tag

In [7]:
# Test the function 'bin'
bin_votes(1000)

'cat_2'

In [8]:
#Create new column called 'bin', and apply the function 'bin_votes' to column 'Votes'. 'axix=1' indicates that the 
#operation is by each column.
df['bin'] = df.apply(lambda row: bin_votes(row['Votes']), axis=1)
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,bin
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,cat_4
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,cat_4
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,cat_4
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,cat_3
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,cat_4

### Challenge 2

In [10]:
# Obtain a new column to calculate the revenue per minute by each film

# Direct way:
#df['revenue_per_min'] = df['Revenue (Millions)'] / df['Runtime (Minutes)']

# Using lambda function:
df['revenue_per_min'] = df.apply(lambda row: row['Revenue (Millions)'] / row['Runtime (Minutes)'], axis=1)
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,bin,revenue_per_min
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,cat_4,2.753140
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,cat_4,1.019839
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,cat_4,1.180513
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,cat_3,2.502963
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,cat_4,2.642439

### Challenge 3

In [11]:
#Create function to increase by 1 the ratio if the movie is a thriller and decrease by 1 if the movie is a comedy.
def change_puntuation(genre, metascore):
    if 'Thriller' in genre:
        return metascore + 1
    elif 'Comedy' in genre:
        return metascore - 1
    else:
        return metascore

In [12]:
genre = 'Horror,Thriller'
metascore = 76.0
change_puntuation(genre, metascore)

77.0

In [13]:
df['new_rating'] = df.apply(lambda row: change_puntuation(row['Genre'], row['Metascore']), axis=1)
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,bin,revenue_per_min,new_rating
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,cat_4,2.753140,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,cat_4,1.019839,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,cat_4,1.180513,63.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,cat_3,2.502963,58.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,cat_4,2.642439,40.0

### Challenge 4

In [14]:
#This function is used to calculate whether a number is prime or not
def is_prime(num):
    for n in range(2, num):   #Create an array from 2 to 'num' and use the loop to get each number
        if num % n == 0:   #If the module of division is 0, num is divisor of 'num', if not is prime
            #print("The number: ", num, " isn't prime, it's divisor of ", n)
            return False
    #print(num, " is prime")
    return True   #If the module of division is 1, num isn't divisor of 'num', so it's prime and return 'True'

#This function is used to convert the movie title into ASCII code, sum the value of each character and divide the number of 
#movie votes by this sum. And after that, it check if the number is prime using the function defined above ('is_prime').
def ascii_value(name, votes):
    value = 0   #Inicialize the value of sum to zero
    for character in name:   #Extract each character with this loop
        value += ord(character)   #Convert the character to ASCII code and accumulates it
    
    votes_per_sum = int(votes/value)   #Make the division and convert to 'int' to remove the decimal number.
    
    return is_prime(votes_per_sum)   #Evaluate the function 'is_prime'and return if the number is prime or not.

In [15]:
ascii_value('Guardians of the Galaxy', 757074)

False

In [16]:
#Add new column to dataframe indicating whether the result of votes/sum is prime or not.
df['votes_per_sum'] = df.apply(lambda row: ascii_value(row['Title'], row['Votes']), axis=1)
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,bin,revenue_per_min,new_rating,votes_per_sum
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,cat_4,2.753140,76.0,False
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,cat_4,1.019839,65.0,False
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,cat_4,1.180513,63.0,False
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,cat_3,2.502963,58.0,False
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,cat_4,2.642439,40.0,False

### Challenge 5

In [4]:
#Create a new dataframe with some columns.
director_df = df.loc[:, ['Director', 'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)', 'Metascore']]

#Group new dataframe by director column and do the mean of each colunm.
director_df = director_df.groupby(by = 'Director').mean()

#Delete the rows with NaN values.
director_df = director_df.dropna()

#With this funtion calculate this operation: 'votes / (revenue + metascore). And check if the value is odd or even.
def puntuation(metascore, votes, revenue):

    rev_per_score = int(votes / (revenue + metascore))
    #print(rev_per_score)
    if rev_per_score%2 == 0:
        return 'even'
    else:
        return 'odd'

#Apply this function to the dataframe and store the result in a new column.
director_df['even_or_odd'] = director_df.apply(lambda row: puntuation(row['Metascore'], row['Votes'], 
                                                               row['Revenue (Millions)']), axis=1)
director_df.head()

,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,even_or_odd
Director,,,,,,
Aamir Khan,165.00,8.5,102697.00,1.200,42.0,odd
Abdellatif Kechiche,180.00,7.8,103150.00,2.200,88.0,odd
Adam McKay,110.75,7.0,201706.75,109.535,65.5,even
Adam Shankman,120.00,6.3,83733.50,78.665,64.0,even
Adam Wingard,94.50,5.9,48578.50,10.535,61.5,even

### Bonus challenge

In [8]:
#CHECK THE 'SHA256' FUNCTION BEHAVIOR - Function to convert the text to hash and sum the resulting numbers:
def search_pattern(texto):
    #With the 'sha256' function it's possible to calculate the hash string.
    sha256_list = hashlib.sha256(texto.encode()).hexdigest()
    #print(sha256_list)
    #print(len(sha256_list))
    
    #With this list comprehension it's possible to extract each character from the above conversion. And sum these numbers 
    #if the character is a number.
    sum_hash = sum(int(number) for number in sha256_list if number.isdigit())
    
    return sum_hash   #Return the sum

search_pattern('Guardians of the Galaxy')

157

In [9]:
#Donwload the library HASH: https://docs.python.org/es/3/library/hashlib.html

#Function to convert the text to hash and sum the resulting numbers:
def search_pattern(title, revenue, votes):
    #With the 'sha256' function it's possible to calculate the hash string.
    sha256 = hashlib.sha256(title.encode()).hexdigest()
    
    #With this list comprehension it's possible to extract each character from the above conversion. And sum these numbers 
    #if the character is a number.
    sum_hash = sum(int(number) for number in sha256 if number.isdigit())
    
    #Check if the sum of the sha256 values is between revenues and votes for this film.
    if (sum_hash > revenue) and (revenue < votes):
        return True
    else:
        return False

#Apply the function 'sum_hash' to the dataframe
df['hash_sum'] = df.apply(lambda row: search_pattern(row['Title'], row['Revenue (Millions)'], row['Votes']), axis=1)

In [29]:
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,bin,revenue_per_min,new_rating,votes_per_sum,Hash_sum
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,cat_4,2.753140,76.0,False,False
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,cat_4,1.019839,65.0,False,True
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,cat_4,1.180513,63.0,False,True
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,cat_3,2.502963,58.0,False,False
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,cat_4,2.642439,40.0,False,False